* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-image: url(images/BG57.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header {
  width: 20%;
  height: 90vh;
  margin: 35px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #38b6ff;
}

body header .logo {
  max-width: 275px;
  max-height: 275px;
  width: 100%;
  margin: 35px;
  -webkit-box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
          box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
  border-radius: 16%;
  border-bottom: 2px solid #38b6ff;
  border-top: 4px solid whitesmoke;
  border-left: 2px solid #38b6ff;
  border-right: 4px solid whitesmoke;
}

body header .navbar {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar a {
  text-decoration: none;
  padding: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 3.1rem;
  color: whitesmoke;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

body header .navbar a:hover {
  color: #38b6ff;
  text-shadow: 1px 1px 2px #38b6ff;
}

body header .socials {
  color: white;
  font-size: 5rem;
  text-shadow: 2px solid #38b6ff;
}

body main {
  width: 80%;
  margin-left: 20%;
  margin-right: 0;
}

body main p {
  height: 30%;
  color: white;
  font-size: 3.5rem;
  margin: 10%;
  padding: 5%;
}

body main div {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main div h1 {
  text-align: center;
  font-size: 3.5rem;
  color: whitesmoke;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  padding: 10px;
}

body main .face-pic {
  width: 20%;
  height: 30vh;
  margin-left: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16%;
  -webkit-box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
          box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
}

body main .about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

body main .container {
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .container .box {
  max-width: 29%;
  height: 30%;
  margin: 2%;
  color: white;
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 16%;
  border: 2px solid white;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

body main .container .box:hover {
  border-radius: 16%;
  -webkit-box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
          box-shadow: 0 20px 60px rgba(56, 182, 255, 0.3);
  border-bottom: 2px solid #38b6ff;
  border-top: 4px solid whitesmoke;
  border-left: 2px solid #38b6ff;
  border-right: 4px solid whitesmoke;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */