@import "mixin_variables";

p {
  line-height: 1.5rem;
}

img {
  width: 100%;
}

a {
  color: $light-color;
}

.courgette {
  font-family: "Courgette", cursive;
}

.lead {
  font-size: 3rem;
}

.comment {
  font-size: 3rem;
  text-decoration: underline $primary-color;
  margin: 23.5px 0;
}

.underline {
  height: 2px;
  width: 8rem;
  background-color: $primary-color;
  display: block;
  margin: 0 auto 3rem auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.text-center {
  text-align: center;
}

.bg-primary {
  background: $primary-color;
  color: $dark-color;
}

.bg-dark {
  background: $dark-color;
  color: $light-color;
}

.bg-light {
  background: $light-color;
  color: $dark-color;
}
