@import "utilities";
@import "mixin_variables";
@import "projects_grid";

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

// Main Header

header {
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  color: $light-color;

  &:before {
    content: "";
    background: url("../img/pexels-photo.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & nav {
      display: flex;
      margin-right: 100px;
      align-items: center;

      & ul {
        & a {
          @include nav-links;

          &:hover {
            @include nav-links-hover;
          }
        }
      }
    }
  }

  .logo {
    width: 120px;
    height: 120px;
    margin-left: 80px;
  }

  & .header-content {
    position: absolute;
    left: 150px;
    bottom: 150px;

    & article {
      width: 40%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 3rem;

      & h3 {
        text-shadow: 4px 4px 4px rgba($light-color, 0.4);
      }
    }
  }
}

// Inner Header and About Page

#navigation-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: url("../img/pexels-photo.jpg") no-repeat 20% 40% / cover;
  height: 7rem;
  transition: 0.5s;

  & nav ul {
    height: 7rem;
    display: flex;
    align-items: center;

    & a {
      @include nav-links;

      &:hover {
        @include nav-links-hover;
      }
    }
  }

  & .logo-about {
    width: 100px;
    height: 100px;
    line-height: 100px;
    align-self: center;
    margin-left: 100px;
  }
}

.about {
  margin-top: 25px;
  font-size: 1.5rem;
  text-align: center;

  &-content {
    & .flex-box {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  &-photo {
    width: 300px;
    height: 300px;
    background: url("../img/stefan1.jpg") no-repeat center 7% / cover;
  }

  &-text {
    width: 800px;
    height: 300px;
    margin-left: 30px;
    background-color: #eee;
    border-left: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & p {
      font-size: 1.1rem;
      margin: 0 15px;
    }

    & a {
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border: 2px solid $dark-color;
      border-radius: 20px;
      background-color: $primary-color;
      color: $dark-color;
      text-decoration: none;
      font-weight: bold;
      transition: 0.3s ease-in;
      box-shadow: 7px 7px 10px 5px rgba($dark-color, 0.4);

      &:hover {
        color: $primary-color;
        background-color: $dark-color;
        border: 2px solid $primary-color;
        box-shadow: 7px 7px 10px 5px rgba($primary-color, 0.4);
      }
    }
  }
}

.tools {
  width: 100%;
  height: 238px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  & .left-side {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    transition: 2s ease-in;
    animation: left 2.5s;
    animation-iteration-count: 1;
  }

  & .right-side {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    transition: 2s ease-in;
    animation: right 2.5s;
    animation-iteration-count: 1;
  }

  & .middle {
    animation: middle 2.5s;
    animation-iteration-count: 1;
  }
}

@keyframes left {
  from {
    transform: translateX(-700px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes right {
  from {
    transform: translateX(700px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes middle {
  from {
    transform: translateY(700px);
  }

  to {
    transform: translateX(0px);
  }
}

// Projects Page

.project-page {
  // background: url("../img/pexels-vlad-bagacian-3987066.jpg") no-repeat center
  //   10% / cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pexels-vlad-bagacian-3987066.jpg') no-repeat center 18%/cover;
  height: 100vh;
}

.title {
  font-size: 1.5rem;

  & p {
    color: $light-color;
  }
}

// Contact Page

.custom {
  height: 100vh;

  .contact-page {
    width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & .text-fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      margin: 0 1.5rem;

      & input {
        padding: 0.7rem 1.2rem;
        border: 1px solid $dark-color;
        border-radius: 7px;
      }

      & textarea {
        grid-column: 1 / -1;
        grid-row: 3 / span 8;
        border: 1px solid $dark-color;
        border-radius: 7px;
        padding: 0.7rem 1.2rem;
      }

      & input:focus,
      & textarea:focus {
        outline-color: $primary-color;
      }
    }

    & button[type="submit"] {
      @include buttons;

      &:hover {
        border: 2px solid $dark-color;
        background-color: $primary-color;
        color: $dark-color;
        font-size: 1.4rem;
        letter-spacing: 0.6rem;
      }
    }

    & .right-side {
      & .contact-details {
        height: 59.5%;
        border-radius: 7px;
        color: $primary-color;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        align-items: center;

        & .phone {
          border-left: 1px dotted $light-color;
          border-right: 1px dotted $light-color;
          height: 65%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }

        & .email, .adress {
          height: 65%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }

        & .email {
          padding: 0 10px;
        }
        
      }

      & a {
        @include buttons;
        text-decoration: none;
        text-align: center;

        &:hover {
          border: 2px solid $dark-color;
          background-color: $primary-color;
          color: $dark-color;
          font-size: 1.4rem;
          letter-spacing: 0.6rem;
        }
      }
    }
  }
}

// Footer

.footer {
  &-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  &-social {
    width: 35%;
    display: flex;
    justify-content: space-evenly;

    & a span {
      color: $light-color;
      margin-right: 1rem;
      border: 2px $light-color solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      padding: 0.5rem;
      text-align: center;
      transition: 0.5s ease;

      &:hover {
        background-color: $primary-color;
        color: $dark-color;
      }
    }
  }
}

@import "media_queries";
