@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,500&family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
header {
    nav {
        font-size: 1.2rem;
        letter-spacing: 0rem;
        font-weight: 400;
        a {}
        @include respond(large) {
            font-size: 2.6rem; //1 rem = 9px, 9/16 = 50%
            letter-spacing: 2rem;
            font-weight: 600;
        }
        @include respond(medium) {
            font-size: 2rem; //1 rem = 9px, 9/16 = 50%
            letter-spacing: 0.4rem;
            font-weight: 600;
            // letter-spacing: 0.6rem;
        }
        @include respond(small) {
            font-size: 1.2rem; //1 rem = 8px, 8/16 = 50%
            letter-spacing: 0.2rem;
        }
    }
    // justify-content: center;
    // text-align: center;
}

.subheading {
    h2 {
        font-family: $font-cursive;
    }
    h3 {
        font-family: $font-family-sub;
        font-size: 0.8rem;
        letter-spacing: 0.4rem;
        margin: 0 auto;
    }
    // @include respond(large) {
    //     font-size: 100%; //1 rem = 9px, 9/16 = 50%
    //     letter-spacing: 3rem;
    // }
    // @include respond(medium) {
    //     font-size: 62.5%; //1 rem = 9px, 9/16 = 50%
    //     letter-spacing: 1.6rem;
    // }
    // @include respond(small) {
    //     font-size: 40%; //1 rem = 8px, 8/16 = 50%
    //     letter-spacing: 0.4rem;
    // }
}

.content {
    font-size: 2rem;
    color: $black;
    h2 {
        font-size: 3rem;
        color: $black;
    }
    p {
        font-size: 1.6rem;
        color: $black;
    }
    ul {
        list-style-position: inside;
        text-indent: -4%;
        padding: 20px 20px 10px 10px;
        font-size: 1.6rem;
        color: $black;
        li {
            text-indent: 10%;
            line-height: 1.6rem;
            text-align: left;
            align-content: space-around;
        }
    }
}