$primary-color: rgb(238, 238, 238);
$secondary-color: rgb(20, 20, 20);
$tertiary-color: rgba(248, 248, 246, 0.863);
$secondary-color-transparent: rgba($secondary-color, 0.7);
$primaryfont: Arial, Helvetica, sans-serif;
$border-radius: 10px;
