$primary-color: rgb(238, 238, 238);
$secondary-color: rgb(20, 20, 20);
$tertiary-color: rgb(245, 243, 243);
$tertiary-color-onhover: rgb(147, 147, 147);
$secondary-color-transparent: rgba($secondary-color, 0.75);
$primaryfont: Arial, Helvetica, sans-serif;
$border-radius: 10px;
