$primary-color: rgb(228, 227, 227);
$secondary-color: rgb(20, 20, 20);
$tertiary-color: rgb(245, 243, 243);
$tertiary-color-onhover: rgb(147, 147, 147);
$secondary-color-transparent: rgba($secondary-color, 0.75);
$primaryfont: 'Raleway', sans-serif, Arial, Helvetica;
$border-radius: 15px;
$light-shadow: 2px 2px 5px $tertiary-color-onhover;
