@import "variables";
@import "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryfont;
}

header {
    background-image: url(img/christin-hume-mfB1B1s4sMc-unsplash.jpg);
    background-color: $primary-color;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 96% 96%, 91% 100%, 85% 96%, 79% 100%, 72% 92%, 67% 97%, 62% 95%, 60% 100%, 53% 93%, 47% 98%, 42% 98%, 36% 100%, 31% 96%, 26% 100%, 19% 96%, 16% 100%, 11% 96%, 6% 99%, 3% 98%, 0% 100%);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    margin-bottom: 50px;

    .banner {
        grid-column: 2 / 20;
        background-color: $secondary-color-transparent;
        border-radius: ($border-radius)*3;
        height: 80vh;
        width: 90vw;
        border: 1px solid $tertiary-color;
        margin: 20px auto;
        max-width: 580px;
        box-shadow: 2px 2px 10px whitesmoke;
        // animation-name: growanimation;
        // animation-duration: 3s;
        // animation-fill-mode: forwards;

        // * {
        //    opacity: 0;
        //    animation-name: fade-in;
        //    animation-duration: 2s; 
        //    animation-fill-mode: forwards;
        //    animation-delay: 1s;       
        // }

        h1 {
            color: $tertiary-color;
            font-size: 4rem;
            text-align: center;
            position: relative;
            top: 10%;
            margin: auto;
            text-shadow: 2px 2px 5px rgb(0, 0, 0);
            /* Top and bottom borders over name */
            // border-top: 3px solid whitesmoke;
            // border-bottom: 3px solid $tertiary-color;
           }

        p {
            color: $tertiary-color;
            font-size: 2rem;
            text-align: center;
            position: relative;
            top: 10%;
        }

        div {
            display: flex;
            justify-content: space-evenly;
            width: 40vw;
            margin: auto;
            color: $tertiary-color;
            position: relative;
            font-size: 1.5rem;
            top: 30%;
        }
        
        .arrow {
            color: $tertiary-color;
            position: absolute;
            font-size: 50px;
            bottom: 18%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#about {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: min-content repeat(5, 1fr);

    .my-experience {
        background-color: bisque;
        width: 100%;
        grid-column: 1 / 7;
        grid-row: 3 / 4;
       
    }

    .future-goals {
        background-color: yellowgreen;;
        width: 100%;
        grid-column: 1 / 7;
        grid-row: 5 / 6;
    }
}

#projects {
    margin: 50px 0;
    background-color: $primary-color;
    padding: 40px 0;

    .project-grid {
        display: grid;
        grid-template-columns: 1fr repeat(6, 4fr) 1fr;
        grid-template-rows: min-content repeat(6, 2fr);
        gap: 10px;
        
        h2 {
            grid-column: 2 / -1;
        }

        article {
            opacity: 0.85;
            cursor: pointer;
            transition: 0.6s ease;

            &:hover {
               opacity: 100%;
            }
        }

        .project-1 {
            grid-row: 2 / 3;
            grid-column: 2 / 8; 
        }
        .project-2 {
            grid-row: 3 / 4;
            grid-column: 2 / 8; 
        }
        .project-3 {
            grid-row: 4 / 5;
            grid-column: 2 / 8; 
        }
        .project-4 {
            grid-row: 5 / 6;
            grid-column: 2 / 8; 
        }
        .project-5 {
            grid-row: 6 / 7;
            grid-column: 2 / 8; 
        }
        .project-6 {
            grid-row: 7 / 8;
            grid-column: 2 / 8; 
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: $border-radius;
            box-shadow: 3px 3px 10px $secondary-color;
        }
    }
}

#contact {
    height: 100vh;

    .contact-info {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .left-contact {
        width: 90%;
        height: 30%;
        padding: 20px;

        div {
            display: flex;
            justify-content: space-evenly;
            width: 40vw;
            margin: auto;
            color: $tertiary-color;
            position: relative;
            font-size: 1.5rem;
            top: 30%;
        }
    }
    
    form {
        background-color: $primary-color;
        width: 90%;
        height: 70%;
        color: $secondary-color;
    }
    }
}