* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(img/christin-hume-mfB1B1s4sMc-unsplash.jpg);
    background-color: lightgray;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 96% 96%, 91% 100%, 85% 96%, 79% 100%, 72% 92%, 67% 97%, 62% 95%, 60% 100%, 53% 93%, 47% 98%, 42% 98%, 36% 100%, 31% 96%, 26% 100%, 19% 96%, 16% 100%, 11% 96%, 6% 99%, 3% 98%, 0% 100%);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.banner {
    grid-column: 7 / span 8;
    background-color: rgba(10, 10, 10, 0.75);
    border-radius: 30px;
    height: 85%;
    border: 3px solid whitesmoke;
    margin-top: 30px;
}

h1 {
    color: rgb(235, 235, 235);
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-top: 3px solid whitesmoke; */
    /* border-bottom: 3px solid whitesmoke; */
}

header p {
    color: rgb(236, 236, 236);
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner div {
    color: whitesmoke;
    position: absolute;
    font-size: 45px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header * {
    padding: 8px
}

.arrow {
    color: whitesmoke;
    position: absolute;
    font-size: 60px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}