@-webkit-keyframes growanimation {
  0% {
    width: 0%;
    border: none;
  }
  100% {
    width: 100%;
    border: 1px solid #f5f3f3;
  }
}

@keyframes growanimation {
  0% {
    width: 0%;
    border: none;
  }
  100% {
    width: 100%;
    border: 1px solid #f5f3f3;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif, Arial, Helvetica;
  scroll-behavior: smooth;
}

body #menuToggle {
  display: block;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1;
}

body #menuToggle ul {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(245, 243, 243, 0.8);
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body #menuToggle ul a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body #menuToggle ul a:hover {
  color: #eba03e;
}

body #menuToggle ul a li {
  padding: 10px 0;
  font-size: 22px;
}

body #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

body #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

body #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

body #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

body #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body header {
  background-image: url(img/laptop-torn.png);
  height: 120vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  margin-bottom: 50px;
}

body header .banner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2 / 20;
  background-color: rgba(20, 20, 20, 0.75);
  border-radius: 15px;
  height: 85vh;
  width: 0vw;
  border: none;
  margin: 70px auto;
  max-width: 580px;
  -webkit-box-shadow: 2px 2px 10px whitesmoke;
          box-shadow: 2px 2px 10px whitesmoke;
  -webkit-animation-name: growanimation;
          animation-name: growanimation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

body header .banner h1, body header .banner p, body header .banner div {
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

body header .banner h1 {
  color: #f5f3f3;
  font-family: Arial, Helvetica;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 10%;
  margin: auto;
  text-shadow: 2px 2px 5px black;
}

body header .banner p {
  color: #f5f3f3;
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif, Arial, Helvetica;
  text-align: center;
  position: relative;
  top: 10%;
}

body header .banner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
  margin: auto;
  position: relative;
  font-size: 1.5rem;
  top: 30%;
}

body header .banner div svg {
  border: 2px solid white;
  border-radius: 30%;
  padding: 5px;
  font-size: 2rem;
  background-color: #141414;
  text-decoration: none;
  color: #f5f3f3;
}

body header .banner .arrow {
  color: #f5f3f3;
  position: absolute;
  font-size: 50px;
  bottom: 5vh;
  left: 50%;
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

body #about {
  width: 80vw;
  height: 100vh;
  margin: 100px auto;
}

body #about .tab {
  height: 10%;
  overflow: hidden;
  border: 1px solid lightgray;
  background-image: -webkit-gradient(linear, right top, left top, from(#3e7d6c), color-stop(#84b6aa), color-stop(#b5b4b4), to(#ffffff));
  background-image: linear-gradient(270deg, #3e7d6c, #84b6aa, #b5b4b4, #ffffff);
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  font-size: 18px;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 5px #939393;
          box-shadow: 2px 2px 5px #939393;
  cursor: pointer;
  color: #6a6a6a;
}

body #about .tab .tablinks {
  border: 2px solid transparent;
  padding: 1px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-bottom: 4px solid transparent;
}

body #about .tab .tablinks:hover {
  color: #ebebeb;
}

body #about .tab a.active {
  border-bottom: 4px solid #f0f0f0;
  color: #ebebeb;
}

body #about .content-background {
  -webkit-box-shadow: 2px 2px 5px #939393;
          box-shadow: 2px 2px 5px #939393;
  background-image: -webkit-gradient(linear, right top, left top, from(#9ebabe), color-stop(#bfdbd5), color-stop(#bcd4c8), color-stop(#cbc4b9), to(#dadada));
  background-image: linear-gradient(270deg, #9ebabe, #bfdbd5, #bcd4c8, #cbc4b9, #dadada);
  border-radius: 0 0 20px 20px;
  height: 80vh;
}

body #about .content-background .tabcontent {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: black;
  height: 60vh;
  padding: 150px 50px;
  font-size: 18px;
  line-height: 1.5;
  -webkit-animation: fadeEffect 2s;
          animation: fadeEffect 2s;
  margin: auto;
}

body #about .content-background #future {
  padding: 100px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

body #about .content-background #future img {
  width: 40vw;
  height: 40vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body #projects {
  margin: 50px 0px;
  background-color: #e4e3e3;
  background-image: url(./img/qbkls\-torn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body #projects .project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (4fr)[6] 1fr;
      grid-template-columns: 1fr repeat(6, 4fr) 1fr;
  -ms-grid-rows: min-content (2fr)[6];
      grid-template-rows: -webkit-min-content repeat(6, 2fr);
      grid-template-rows: min-content repeat(6, 2fr);
  gap: 1vw;
}

body #projects .project-grid h2 {
  grid-column: 2 / -1;
}

body #projects .project-grid article {
  opacity: 0.85;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

body #projects .project-grid article:hover {
  opacity: 100%;
}

body #projects .project-grid article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 10px #141414;
          box-shadow: 3px 3px 10px #141414;
  -o-object-fit: cover;
     object-fit: cover;
}

body #projects .project-grid .project1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #projects .project-grid .project2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #projects .project-grid .project3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #projects .project-grid .project4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #projects .project-grid .project5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #projects .project-grid .project6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

body #contact {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

body #contact .left-contact {
  width: 90%;
  height: 30%;
  padding: 20px;
  line-height: 1.7;
}

body #contact .left-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
  margin: auto;
  color: #141414;
  position: relative;
  font-size: 1.3rem;
  top: 30%;
}

body #contact .left-contact div svg {
  text-decoration: none;
  color: #141414;
}

body #contact form {
  background-color: #e4e3e3;
  width: 90%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

body #contact form input, body #contact form textarea {
  background-color: #e4e3e3;
  margin: 15px 50px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px;
}

body #contact form input::-webkit-input-placeholder, body #contact form textarea::-webkit-input-placeholder {
  padding: 8px;
}

body #contact form input:-ms-input-placeholder, body #contact form textarea:-ms-input-placeholder {
  padding: 8px;
}

body #contact form input::-ms-input-placeholder, body #contact form textarea::-ms-input-placeholder {
  padding: 8px;
}

body #contact form input::placeholder, body #contact form textarea::placeholder {
  padding: 8px;
}

body #contact form textarea {
  height: 200px;
  line-height: 20px;
}

body #contact form .button {
  background-color: rgba(20, 20, 20, 0.75);
  color: #f5f3f3;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 10vh;
}

body footer .to-top-button svg {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  height: 10%;
  border-bottom: 2px solid transparent;
  border-radius: 50px;
}

body footer .to-top-button svg:hover {
  border-bottom: 2px solid black;
}

body footer .horizontal-line {
  display: inline-block;
  width: 70vw;
  height: 2px;
  background-color: #141414;
  position: relative;
  bottom: 10px;
}

body footer p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 200px;
}

@media only screen and (min-width: 480px) {
  body header {
    height: 140vh;
    width: 100vw;
    margin: 0px;
    font-size: 40px;
  }
  body header .navbar {
    -ms-grid-column: 20;
    -ms-grid-column-span: 1;
    grid-column: 20 / 21;
    position: fixed;
    right: 0;
    color: #f5f3f3;
    cursor: pointer;
    margin: 20px;
    font-size: 3rem;
    opacity: 80%;
    padding: 4px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    opacity: 0;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  body header .navbar:hover {
    color: #141414;
  }
  body header .banner {
    height: 85vh;
    margin: 50px auto;
    width: 0vw;
  }
  body header .banner h1 {
    font-size: 3r 0.5em;
    top: 25%;
  }
  body header .banner p {
    font-size: 2.5rem;
    top: 27%;
  }
  body header .banner div {
    width: 14vw;
    top: 40%;
  }
  body header .banner div svg {
    font-size: 2.5rem;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  body header .banner div svg:hover {
    font-size: 2.5rem;
  }
  body header .banner div .fa-github:hover {
    color: black;
    background-color: white;
    font-size: 3rem;
  }
  body header .banner div .fa-linkedin-in:hover {
    color: #007bb5;
    background-color: white;
    font-size: 3rem;
  }
  body header .banner div .fa-instagram:hover {
    color: #e95950;
    background-color: white;
    font-size: 3rem;
  }
  body header .banner .arrow {
    bottom: 8%;
  }
  body #projects {
    background-color: #e4e3e3;
    padding: 180px 100px;
    height: 250vh;
  }
  body #projects .project-grid {
    height: 120vh;
    width: 80vw;
    margin: 10% auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (16rem)[3];
        grid-template-columns: repeat(3, 16rem);
    -ms-grid-rows: min-content (16rem)[3];
        grid-template-rows: -webkit-min-content repeat(3, 16rem);
        grid-template-rows: min-content repeat(3, 16rem);
    gap: 1vw;
    max-width: 900px;
    max-height: 90vh;
  }
  body #projects .project-grid h2 {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    font-size: 70px;
    padding: 30px 10px;
  }
  body #projects .project-grid .project {
    background-color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    opacity: 0.75;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    max-height: 500px;
    position: relative;
  }
  body #projects .project-grid .project:hover {
    opacity: 1;
  }
  body #projects .project-grid .project .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(20, 20, 20, 0.75);
    color: #f5f3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 2rem;
    font-size: 1.2rem;
    visibility: hidden;
  }
  body #projects .project-grid .project .image-overlay .closebtn {
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  body #projects .project-grid .project1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  body #projects .project-grid .project2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  body #projects .project-grid .project3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  body #projects .project-grid .project4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  body #projects .project-grid .project5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  body #projects .project-grid .project6 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  body #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body #contact .left-contact {
    width: 35%;
    height: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    padding: 200px 60px;
  }
  body #contact .left-contact p {
    font-size: 1.2rem;
  }
  body #contact .left-contact div {
    width: 12vw;
    font-size: 2rem;
  }
  body #contact .left-contact div svg {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  body #contact .left-contact div .fa-github:hover {
    color: black;
    background-color: white;
    font-size: 3rem;
  }
  body #contact .left-contact div .fa-linkedin-in:hover {
    color: #007bb5;
    background-color: white;
    font-size: 3rem;
  }
  body #contact .left-contact div .fa-instagram:hover {
    color: #e95950;
    background-color: white;
    font-size: 3rem;
  }
  body #contact form {
    width: 35%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    height: 85%;
    padding: 150px 80px;
  }
  body #contact form input::-webkit-input-placeholder, body #contact form textarea::-webkit-input-placeholder {
    font-size: 16px;
  }
  body #contact form input:-ms-input-placeholder, body #contact form textarea:-ms-input-placeholder {
    font-size: 16px;
  }
  body #contact form input::-ms-input-placeholder, body #contact form textarea::-ms-input-placeholder {
    font-size: 16px;
  }
  body #contact form input::placeholder, body #contact form textarea::placeholder {
    font-size: 16px;
  }
  body #contact form .button {
    width: 35%;
    height: 25px;
  }
}
/*# sourceMappingURL=main.css.map */