@-webkit-keyframes growanimation {
  0% {
    width: 0%;
    border: none;
  }
  100% {
    width: 100%;
    border: 1px solid #f5f3f3;
  }
}

@keyframes growanimation {
  0% {
    width: 0%;
    border: none;
  }
  100% {
    width: 100%;
    border: 1px solid #f5f3f3;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url(img/christin-hume-mfB1B1s4sMc-unsplash.jpg);
  background-color: #eeeeee;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 96% 96%, 91% 100%, 85% 96%, 79% 100%, 72% 92%, 67% 97%, 62% 95%, 60% 100%, 53% 93%, 47% 98%, 42% 98%, 36% 100%, 31% 96%, 26% 100%, 19% 96%, 16% 100%, 11% 96%, 6% 99%, 3% 98%, 0% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 96% 96%, 91% 100%, 85% 96%, 79% 100%, 72% 92%, 67% 97%, 62% 95%, 60% 100%, 53% 93%, 47% 98%, 42% 98%, 36% 100%, 31% 96%, 26% 100%, 19% 96%, 16% 100%, 11% 96%, 6% 99%, 3% 98%, 0% 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  margin-bottom: 50px;
}

header .navbar {
  -ms-grid-column: 20;
  -ms-grid-column-span: 1;
  grid-column: 20 / 21;
  position: fixed;
  right: 0;
  color: #f5f3f3;
  cursor: pointer;
  margin: 10px;
  font-size: 50px;
  opacity: 80%;
}

header .navbar:hover {
  color: #141414;
}

header .banner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 18;
  grid-column: 2 / 20;
  background-color: rgba(20, 20, 20, 0.75);
  border-radius: 30px;
  height: 85vh;
  width: 0vw;
  border: none;
  margin: 70px auto;
  max-width: 580px;
  -webkit-box-shadow: 2px 2px 10px whitesmoke;
          box-shadow: 2px 2px 10px whitesmoke;
  -webkit-animation-name: growanimation;
          animation-name: growanimation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

header .banner * {
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

header .banner h1 {
  color: #f5f3f3;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 10%;
  margin: auto;
  text-shadow: 2px 2px 5px black;
}

header .banner p {
  color: #f5f3f3;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 10%;
}

header .banner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
  margin: auto;
  color: #f5f3f3;
  position: relative;
  font-size: 1.5rem;
  top: 30%;
}

header .banner .arrow {
  color: #f5f3f3;
  position: absolute;
  font-size: 50px;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-me {
  padding: 10px;
  margin: 10px auto;
  height: 100vh;
  width: 90vw;
}

.about-me .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 5vh;
  background-color: lightgrey;
  border-radius: 20px 20px 0 0;
}

.about-me .headings h2 {
  font-size: 16px;
  padding: 10px auto;
  width: 50%;
  text-align: center;
}

.about-me .headings .past-heading {
  border-right: 2px solid #fffdf8;
}

.about-me .past {
  background-color: #eeeeee;
  height: 90vh;
  padding: 60px 20px;
}

#projects {
  margin: 50px 10px;
  background-color: #eeeeee;
  padding: 40px 0;
}

#projects .project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (4fr)[6] 1fr;
      grid-template-columns: 1fr repeat(6, 4fr) 1fr;
  -ms-grid-rows: min-content (2fr)[6];
      grid-template-rows: -webkit-min-content repeat(6, 2fr);
      grid-template-rows: min-content repeat(6, 2fr);
  gap: 10px;
}

#projects .project-grid h2 {
  grid-column: 2 / -1;
}

#projects .project-grid article {
  opacity: 0.85;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

#projects .project-grid article:hover {
  opacity: 100%;
}

#projects .project-grid .project-1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid .project-2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid .project-3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid .project-4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid .project-5 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid .project-6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
}

#projects .project-grid img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px #141414;
          box-shadow: 3px 3px 10px #141414;
}

#contact {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

#contact .left-contact {
  width: 90%;
  height: 30%;
  padding: 20px;
}

#contact .left-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
  margin: auto;
  color: #141414;
  position: relative;
  font-size: 1.5rem;
  top: 30%;
}

#contact form {
  background-color: #eeeeee;
  width: 90%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
}

#contact form input, #contact form textarea {
  background-color: #eeeeee;
  margin: 15px 50px;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px;
}

#contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
  padding: 8px;
}

#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
  padding: 8px;
}

#contact form input::-ms-input-placeholder, #contact form textarea::-ms-input-placeholder {
  padding: 8px;
}

#contact form input::placeholder, #contact form textarea::placeholder {
  padding: 8px;
}

#contact form textarea {
  height: 200px;
  line-height: 20px;
}

#contact form .button {
  background-color: rgba(20, 20, 20, 0.75);
  color: #f5f3f3;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
}

footer svg {
  margin-bottom: 40px;
}

@media only screen and (min-width: 480px) {
  header {
    height: 110vh;
  }
  header .banner {
    height: 85vh;
    margin: 50px auto;
    width: 0vw;
  }
  header .banner h1 {
    font-size: 3r 0.5em;
    top: 25%;
  }
  header .banner p {
    font-size: 2.5rem;
    top: 27%;
  }
  header .banner div {
    width: 12vw;
    font-size: 2rem;
    top: 40%;
  }
  header .banner .arrow {
    bottom: 8%;
  }
  .about-me {
    height: 100vh;
  }
  .about-me .headings {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10%;
  }
  .about-me .headings h2 {
    font-size: 20px;
  }
  .about-me .past {
    height: 80%;
  }
  #projects .project-grid .project-1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
  #projects .project-grid .project-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
  }
  #projects .project-grid .project-3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
  }
  #projects .project-grid .project-4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / 8;
  }
  #projects .project-grid .project-5 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  #projects .project-grid .project-6 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / 8;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / 8;
  }
  #projects .project-grid img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contact .left-contact {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    text-align: end;
    padding: 50px;
  }
  #contact .left-contact div {
    width: 10vw;
  }
  #contact form {
    width: 35%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    height: 85%;
  }
}
/*# sourceMappingURL=main.css.map */