header nav {
  width: 100%;
  margin: 0 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff4500;
  padding: 15px;
  border: none;
}

header nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #f5f5f5f5;
}

.button {
  border-radius: 5px;
  border: 2px solid black;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  max-width: max-content;
  color: black;
}

.button:hover {
  background-color: #f5f5f5f5;
  color: #f5f5f5f5;
}

.contact-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content textarea {
  height: 80px;
}

.input-fields, .content {
  width: 100%;
}

.contact-body {
  width: 100%;
  height: 100vh;
  background-color: #4b2b7d;
}

.contact-body .contact-form {
  background-color: rgba(222, 22, 22, 0.4);
  width: 40%;
  margin: auto;
  margin-top: 250px;
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-body .contact-form .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  margin-right: 10px;
}

.contact-body .contact-form .input-fields, .contact-body .contact-form .content {
  width: 50%;
}

.contact-body .contact-form .input-fields input, .contact-body .contact-form .input-fields textarea, .contact-body .contact-form .content input, .contact-body .contact-form .content textarea {
  margin: 10px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  padding: 10px;
  color: white;
  width: 100%;
}

.contact-body .contact-form .input-fields input::-webkit-input-placeholder, .contact-body .contact-form .input-fields textarea::-webkit-input-placeholder, .contact-body .contact-form .content input::-webkit-input-placeholder, .contact-body .contact-form .content textarea::-webkit-input-placeholder {
  color: inherit;
}

.contact-body .contact-form .input-fields input:-ms-input-placeholder, .contact-body .contact-form .input-fields textarea:-ms-input-placeholder, .contact-body .contact-form .content input:-ms-input-placeholder, .contact-body .contact-form .content textarea:-ms-input-placeholder {
  color: inherit;
}

.contact-body .contact-form .input-fields input::-ms-input-placeholder, .contact-body .contact-form .input-fields textarea::-ms-input-placeholder, .contact-body .contact-form .content input::-ms-input-placeholder, .contact-body .contact-form .content textarea::-ms-input-placeholder {
  color: inherit;
}

.contact-body .contact-form .input-fields input::placeholder, .contact-body .contact-form .input-fields textarea::placeholder, .contact-body .contact-form .content input::placeholder, .contact-body .contact-form .content textarea::placeholder {
  color: inherit;
}

.contact-body .contact-form .input-fields input :required, .contact-body .contact-form .input-fields textarea :required, .contact-body .contact-form .content input :required, .contact-body .contact-form .content textarea :required {
  border-color: #f5f5f5;
}

.contact-body .contact-form .input-fields textarea, .contact-body .contact-form .content textarea {
  height: 210px;
}

.contact-body .contact-form .input-fields .button, .contact-body .contact-form .content .button {
  background-color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
}

.contact-body .contact-form .input-fields .button:hover, .contact-body .contact-form .content .button:hover {
  border: 2px solid white;
}
/*# sourceMappingURL=main.css.map */