$main-color: rgb(230, 230, 230);
$text-color: rgb(14, 14, 14);
$hover-color:red;
$root-font-size:1rem;
$font-one: 'Bebas Neue';

*:focus {
    outline: none;  
}


body{
    background-color: black;
    background-image: url("/src/josh-foster/img/background-image-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header{

    nav{
        width: 90%;
        margin: 3% auto 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color:$main-color;
        padding: 15px;
        border-radius: 40px;
        a{
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            font-size: $root-font-size;
            color:$text-color; 
            transition: 0.25s ease;

            &:hover{
                color: $hover-color;
                font-size: $root-font-size*0.95;
            }

            i{
                font-size: 1.5rem; 
                padding-top: 1px;
                transition: 0.25s ease;

                &:hover{
                    color:$hover-color;
                }
            }
        }
    }
}

.about{
    width: 90%;
    margin: 10% auto 0 3.5%;
    display: flex;
    justify-content: space-around;
    align-items: center; 

    img{
        clip-path: circle(50% at 50% 50%);
        width: 25%;
        filter: grayscale(100%);
        transition: 0.5s ease;

        &:hover{
            width: 26%;
            filter: grayscale(0%);
        }
    }

    article{
        height: 15vw;
        padding: 5%;
        border-radius: 2000px;
        width: 40%;
        background-color: $main-color;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        h2{
            font-family: 'Bebas Neue';
            font-size: 3vw ;
            padding: 0;
            margin: 7.5%;
            transition: 1s ease 
        }

        &:hover{

            h2{
                font-size:$root-font-size*1.5 ; 
            }
        }

        p{
            margin: auto;
            text-align: center;
            padding: 0;
            margin: 0; 
            font-size: 1.2vw;  
        }
    }
}

.development-projects{
    width: 80vw;
    height: 100vw;
    margin: 10% auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1vw;
    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        border-radius: 50px;
        opacity: 0.75;
        transition: .6s ease;

        &:hover{
            opacity: 1;
        }

    }

    .project1{
        grid-column: 1/3;
        grid-row: 1/2;

        h2{
            font-family: 'Bebas Neue';
            font-size:$root-font-size*7 ;
            padding: 0;
            margin: 7.5%;
            transition: 1s ease 
        }
    }

    .project2{
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .project3{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .project4{
        grid-column: 2/3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        
        h2{
            font-family: 'Bebas Neue';
            font-size:$root-font-size*2 
        }
    }

    .project5{
        grid-column: 3/4;
        grid-row: 3/4;
        
    }

    .project6{
        grid-column: 1/2;
        grid-row: 3/5;
    }

    .project7{
        grid-column: 2/4;
        grid-row: 4/5;
    }

}

.contact{

    width: 60vw;
    margin: 10vw auto;

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color:whitesmoke;
        border-radius: 50px;
        
        transition: .6s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        h2{
            font-family: 'Bebas Neue' ;
            font-size: 3vw;
            margin: 2.5vw 0;
            } 
    
            fieldset{
                
                border: none;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
                width: 90%;

                input{
                    border: none;
                    border-radius: 20px;
                    height: 3vw;
                    padding-left: 2vw; 
                    margin: 1vw 0;
                    font-size: 1vw;
                    font-family: 'Courier New', Courier, monospace;
    
                    &:focus::placeholder{
                        color: transparent;
                    }
                    
                }

                textarea{
                    height: 30vh;
                    max-width: 90%;
                    border: none;
                    border-radius: 20px;
                    padding: 5%;
                    font-size: 1vw;
                    resize: none;

                    &:focus::placeholder{
                        color: transparent;
                    }

            }
    
                
        }
    
            .submit{
                border: none;
                border-radius: 20px;
                cursor: pointer;
                height: 5vw;
                width: 10vw;
                margin:  2.5vw auto;
                font-family: 'Courier New', Courier, monospace;
                font-size: 1vw;
                transition: 0.5s ease;
    
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    
    
    
}

footer{
    height: 7.5vw;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .links{
        width: 10%;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        align-items: center;
        a{
            margin-right: 5%;
            text-decoration: none;
            font-size: 2vw ;
            color:$text-color ;
            
        }
    }

    a{
        margin-right: 5%;
        text-decoration: none;
        font-size: 3vw ;
        font-family: 'Bebas Neue';
        color: $text-color;
        transition: 0.25s ease;
        &:hover{
            color: $hover-color;
        }
    }

  
}


@media only screen and (max-width: 800px) {
   
    .about{

        width: 95vw;
        margin: 10% auto 0 2%;

        img{
            &:hover{
                width: 80vw;
                filter: grayscale(0%);
            }
        }

        article{

            h2{
                display: none;
            }

            p{
                font-size: 2vw;  
            }
        }
    }

    .development-projects{
        width: 90vw;
    }

    .contact{

        width: 85vw;
        height: 70vh;
                
        form{
        margin: auto;
        height: 70vh;
        padding: 0;
        width: 90%;
        margin-bottom: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

            fieldset{
                margin: auto;
                height: 50vh;
                input{
                height: 7vw;
                font-size: 2vw;
                }

                textarea{
                    height: 20vw;
                    font-size: 2vw;
                }
            }

            .submit{
                height: 7vw;
                width: 15vw; 
                font-size: 2vw;
            }
        }

    }
}

@media only screen and (max-width: 430px){

    body{

        header{
            margin-top: 3vh;
            

            nav{
                
                a{
                    font-size: 4vw;
                }

                .socials{
                    display: none;
                }
            }
        }

        .about{
            
            height: 150vw;
            flex-direction: column;
            flex-direction: column-reverse;

            article{
                height: 30%;
                width: 80%;

                p{
                    font-size: 4vw;
                }

            }

            img{
                width: 80%;
            }
            
        }

        .development-projects{
                width: 90vw;
                height: 200vw;
                margin: 10% auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 1vw;

                .project2{
                    grid-column: 2/3;
                    grid-row: 2/4;
                }

                .project4{
                    display: none;
                }

                .project5{
                    grid-column: 2/3;
                    grid-row: 4/5;
                }

                .project7{
                    grid-column: 1/3;
                    grid-row: 5/6;
                }
            }

        .contact{
            width: 95vw;
            height: 130vw;
            margin-bottom: 10vh;

            form{
                height: 140vw;
                
                
                h2{
                    margin-top: 10vh;
                    font-size: 10vw;
                }

                fieldset{
                    margin: auto;
                    
                    height: 70vw;
                    
                    
                    input{
                        margin: 0 auto;
                        width: 90%;
                        height: 10vw;
                        font-size: 4vw;
                    }

                    textarea{
                        margin: 0 auto;
                        width: 65vw;
                        font-size: 4vw;
                        height: 15vw;
                    }
                }

                .submit{
                    margin-bottom: 10vh;
                    border-radius: 20vw;
                    height: 10vh;
                    width: 30vw;
                    font-size: 5vw;
                }
            }
        }

        footer{
            height: 20vw;

            .links{

                a{
                    font-size: 5vw;
                    margin: 0 5vw;
                }
            }

            a{
                margin-right: 5vw;
                font-size: 5vw;
            }

        }
    }


}