*:focus {
  outline: none;
}

body {
  background-color: black;
  background-image: url("/src/josh-foster/img/background-image-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header nav {
  width: 90%;
  margin: 3% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 40px;
}

header nav a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #0e0e0e;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header nav a:hover {
  color: red;
  font-size: 0.95rem;
}

header nav a i {
  font-size: 1.5rem;
  padding-top: 1px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header nav a i:hover {
  color: red;
}

.about {
  width: 90%;
  margin: 10% auto 0 3.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 25%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.about img:hover {
  width: 26%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.about article {
  height: 15vw;
  padding: 5%;
  border-radius: 2000px;
  width: 40%;
  background-color: #e6e6e6;
  font-family: 'Courier New', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about article h2 {
  font-family: 'Bebas Neue';
  font-size: 3vw;
  padding: 0;
  margin: 7.5%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.about article:hover h2 {
  font-size: 1.5rem;
}

.about article p {
  margin: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.2vw;
}

.development-projects {
  width: 80vw;
  height: 100vw;
  margin: 10% auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 1vw;
}

.development-projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  border-radius: 50px;
  opacity: 0.75;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.development-projects div:hover {
  opacity: 1;
}

.development-projects .project1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.development-projects .project1 h2 {
  font-family: 'Bebas Neue';
  font-size: 7rem;
  padding: 0;
  margin: 7.5%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.development-projects .project2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.development-projects .project3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.development-projects .project4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.development-projects .project4 h2 {
  font-family: 'Bebas Neue';
  font-size: 2rem;
}

.development-projects .project5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.development-projects .project6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.development-projects .project7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.contact {
  width: 60vw;
  margin: 10vw auto;
}

.contact form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact form h2 {
  font-family: 'Bebas Neue';
  font-size: 3vw;
  margin: 2.5vw 0;
}

.contact form fieldset {
  border: none;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  width: 90%;
}

.contact form fieldset input {
  border: none;
  border-radius: 20px;
  height: 3vw;
  padding-left: 2vw;
  margin: 1vw 0;
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
}

.contact form fieldset input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact form fieldset input:focus:-ms-input-placeholder {
  color: transparent;
}

.contact form fieldset input:focus::-ms-input-placeholder {
  color: transparent;
}

.contact form fieldset input:focus::placeholder {
  color: transparent;
}

.contact form fieldset textarea {
  height: 30vh;
  max-width: 90%;
  border: none;
  border-radius: 20px;
  padding: 5%;
  font-size: 1vw;
  resize: none;
}

.contact form fieldset textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact form fieldset textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contact form fieldset textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contact form fieldset textarea:focus::placeholder {
  color: transparent;
}

.contact form .submit {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 5vw;
  width: 10vw;
  margin: 2.5vw auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contact form .submit:hover {
  background-color: black;
  color: white;
}

footer {
  height: 7.5vw;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

footer .links {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links a {
  margin-right: 5%;
  text-decoration: none;
  font-size: 2vw;
  color: #0e0e0e;
}

footer a {
  margin-right: 5%;
  text-decoration: none;
  font-size: 3vw;
  font-family: 'Bebas Neue';
  color: #0e0e0e;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

footer a:hover {
  color: red;
}

@media only screen and (max-width: 800px) {
  .about {
    width: 95vw;
    margin: 10% auto 0 2%;
  }
  .about img:hover {
    width: 80vw;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .about article h2 {
    display: none;
  }
  .about article p {
    font-size: 2vw;
  }
  .development-projects {
    width: 90vw;
  }
  .contact {
    width: 85vw;
    height: 70vh;
  }
  .contact form {
    margin: auto;
    height: 70vh;
    padding: 0;
    width: 90%;
    margin-bottom: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact form fieldset {
    margin: auto;
    height: 50vh;
  }
  .contact form fieldset input {
    height: 7vw;
    font-size: 2vw;
  }
  .contact form fieldset textarea {
    height: 20vw;
    font-size: 2vw;
  }
  .contact form .submit {
    height: 7vw;
    width: 15vw;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 430px) {
  body header {
    margin-top: 3vh;
  }
  body header nav a {
    font-size: 4vw;
  }
  body header nav .socials {
    display: none;
  }
  body .about {
    height: 150vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  body .about article {
    height: 30%;
    width: 80%;
  }
  body .about article p {
    font-size: 4vw;
  }
  body .about img {
    width: 80%;
  }
  body .development-projects {
    width: 90vw;
    height: 200vw;
    margin: 10% auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    gap: 1vw;
  }
  body .development-projects .project2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  body .development-projects .project4 {
    display: none;
  }
  body .development-projects .project5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  body .development-projects .project7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  body .contact {
    width: 95vw;
    height: 130vw;
    margin-bottom: 10vh;
  }
  body .contact form {
    height: 140vw;
  }
  body .contact form h2 {
    margin-top: 10vh;
    font-size: 10vw;
  }
  body .contact form fieldset {
    margin: auto;
    height: 70vw;
  }
  body .contact form fieldset input {
    margin: 0 auto;
    width: 90%;
    height: 10vw;
    font-size: 4vw;
  }
  body .contact form fieldset textarea {
    margin: 0 auto;
    width: 65vw;
    font-size: 4vw;
    height: 15vw;
  }
  body .contact form .submit {
    margin-bottom: 10vh;
    border-radius: 20vw;
    height: 10vh;
    width: 30vw;
    font-size: 5vw;
  }
  body footer {
    height: 20vw;
  }
  body footer .links a {
    font-size: 5vw;
    margin: 0 5vw;
  }
  body footer a {
    margin-right: 5vw;
    font-size: 5vw;
  }
}
/*# sourceMappingURL=main.css.map */