* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Indie Flower';
  font-weight: bold;
}

body {
  background-color: #151C22;
  background-image: url(./img/pattern1.jpg);
  background-size: cover;
  background-position: center;
}

.navBar {
  position: fixed;
  right: 0;
  z-index: 1;
}

.navBar span {
  font-size: 60px;
  cursor: pointer;
  right: 20px;
  top: 5px;
  padding: 7px 5px 0 5px;
  text-decoration: none;
  position: fixed;
  color: #33A1FD;
}

.navBar nav {
  display: none;
  border: 2px solid #151C22;
  background-color: #85B4FF;
  height: 100vh;
}

.navBar nav img {
  width: 300px;
  height: 300px;
}

.navBar nav ul li {
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

.navBar nav ul li a {
  text-decoration: none;
  font-size: 24px;
}

.hero-image {
  overflow: hidden;
}

.hero-image img {
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.hero-image .firstHalf {
  width: 100%;
  height: 400px;
  -webkit-transform: right;
          transform: right;
  -webkit-animation: entrance 2s 1;
          animation: entrance 2s 1;
}

@-webkit-keyframes entrance {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes entrance {
  0% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}

.hero-image .secondHalf {
  width: 100%;
  height: 400px;
  -webkit-transform: left;
          transform: left;
  -webkit-animation: entrance2 2s 1;
          animation: entrance2 2s 1;
}

@-webkit-keyframes entrance2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes entrance2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.hero-image .fullImage {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  width: 100%;
  height: 100vh;
  display: none;
}

.hero-image h1 {
  visibility: hidden;
  position: absolute;
  top: 23%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 42px;
  text-align: center;
  z-index: 2;
}

.about {
  width: 100%;
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .aboutCard {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 3px solid #364959;
  -webkit-box-shadow: 0 14px 60px 0 #33A1FD;
          box-shadow: 0 14px 60px 0 #33A1FD;
  width: 350px;
  height: 495px;
  text-align: center;
  color: black;
  background-color: #F7F7F9;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.about .aboutCard .backgroundColorCard {
  width: 100%;
  background-color: #55728b;
}

.about .aboutCard .backgroundColorCard img {
  border-radius: 100%;
  padding: 15px 0;
}

.about .aboutCard h2 {
  font-size: 32px;
}

.about .aboutCard p {
  padding: 20px 0;
  font-weight: bold;
}

.about .aboutCard a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  margin: 5px;
}

.about .aboutCard button {
  margin: 23px 0;
  padding: 15px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.about .aboutCard button:hover {
  color: whitesmoke;
  background-color: #55728b;
  border: 3px double whitesmoke;
}

.about .aboutCardExtended {
  display: none;
  margin-top: 10px;
  border: 3px solid #364959;
  -webkit-box-shadow: 0 14px 60px 0 #33A1FD;
          box-shadow: 0 14px 60px 0 #33A1FD;
  width: 350px;
  height: 495px;
  padding: 10px;
  text-align: center;
  color: #00173D;
  background-color: #85B4FF;
  overflow: auto;
  font-size: 16px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.about .aboutCardExtended:hover {
  width: 1200px;
}

.about .aboutCardExtended button {
  padding: 10px;
  margin-top: 25px;
  border-radius: 25px;
  font-weight: bold;
}

.skillsCard {
  margin-top: 20px;
  border: 3px solid #364959;
  -webkit-box-shadow: 0 14px 60px 0 #33A1FD;
          box-shadow: 0 14px 60px 0 #33A1FD;
  background-color: #55728b;
  width: 600px;
  height: 550px;
  padding: 20px;
  position: relative;
}

.skillsCard h2 {
  width: 100%;
  text-align: center;
  color: #33a1fd;
  font-size: 38px;
}

.skillsCard .page2 {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsCard .page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skillsCard .page1 p {
  -webkit-animation: moveRight 1s ease-out;
          animation: moveRight 1s ease-out;
}

@-webkit-keyframes moveRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveRight {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.skillsCard .page1.rotate h3 {
  -webkit-animation: rotate 2s 1;
          animation: rotate 2s 1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  75% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.skillsCard article {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsCard article [title~="HTML5"] {
  font-size: 52px;
  color: #E54C21;
}

.skillsCard article [title~="css3"] {
  font-size: 52px;
  color: #264DE4;
}

.skillsCard article [title~="Git"] {
  font-size: 52px;
  color: #F05033;
}

.skillsCard article [title~="JS"] {
  font-size: 52px;
  color: #F7E018;
}

.skillsCard article .skillContainer {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  display: inline-block;
  margin-left: 5px;
  border: black 2px solid;
}

.skillsCard article .skillContainer .skills {
  text-align: right;
  color: white;
}

.skillsCard article .skillContainer #html {
  width: 90%;
  height: 100%;
  background-color: #33a1fd;
  border-radius: 20px;
}

.skillsCard article .skillContainer #css {
  width: 50%;
  height: 100%;
  background-color: #33a1fd;
  border-radius: 20px;
}

.skillsCard article .skillContainer #git {
  width: 60%;
  height: 100%;
  background-color: #33a1fd;
  border-radius: 20px;
}

.skillsCard article .skillContainer #JS {
  width: 30%;
  height: 100%;
  background-color: #33a1fd;
  border-radius: 20px;
}

.skillsCard h3 {
  width: 30%;
  margin-top: 10px;
  font-size: 24px;
  color: #33A1FD;
  text-align: center;
}

.skillsCard p {
  padding-left: 50px;
}

.skillsCard .dots {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background-color: grey;
  -webkit-transition: 1s;
  transition: 1s;
}

.skillsCard #dot1 {
  position: absolute;
  bottom: 10px;
  left: 250px;
  background-color: darkslategrey;
}

.skillsCard #dot2 {
  position: absolute;
  bottom: 10px;
  left: 280px;
}

.projects {
  margin-top: 200px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.projects #project2 {
  display: none;
}

.projects #project3 {
  display: none;
}

.projects .projectsBox {
  width: 800px;
  height: 500px;
  border: #00173D solid 2px;
  -webkit-box-shadow: 0 14px 60px 0 #33A1FD;
          box-shadow: 0 14px 60px 0 #33A1FD;
  margin: 0 auto;
}

.projects .projectsBox .projectTitle {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #33A1FD;
  font-size: 24px;
}

.projects .projectsBox .projectTitle svg {
  background-color: #33a1fd;
  font-size: 44px;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.projects .projectsBox .projectTitle .pause {
  color: red;
  display: none;
}

.projects .projectsBox .projectTitle .play {
  color: #16f028;
  display: contents;
}

.projects .projectsBox img {
  width: 300px;
  height: 300px;
  margin-right: 40px;
  float: left;
}

.projects .projectsBox .middleSection {
  width: 100%;
  height: 300px;
  background-color: #55728b;
}

.projects .projectsBox .middleSection p {
  padding: 20px;
}

.projects .projectsBox .middleSection svg {
  font-size: 48px;
  margin: 20px;
  color: #33A1FD;
}

.projects .projectsBox .middleSection button {
  width: 100px;
  height: 40px;
  margin: 50px 10px 0;
}

.projects .projectsBox .bottomSection {
  width: 100%;
  height: 147px;
  background-color: #33A1FD;
}

.projects .projectsBox .bottomSection .bottomButton {
  height: 47px;
  width: 150px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 3px double whitesmoke;
  background-color: #85B4FF;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.projects .projectsBox .bottomSection .bottomButton button:hover {
  background-color: #264DE4;
  color: whitesmoke;
}

.projects .projectsBox .bottomSection .bottomButtonOn {
  height: 47px;
  width: 150px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 3px double whitesmoke;
  background-color: #264DE4;
  color: whitesmoke;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.contact {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 0 14px 160px 0 #33A1FD;
          box-shadow: 0 14px 160px 0 #33A1FD;
  background-color: #55728b;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact h2 {
  font-size: 60px;
  padding: 10px 0 20px;
  width: 100%;
  color: whitesmoke;
}

.contact .contactMe {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contactMe p {
  font-size: 26px;
  color: whitesmoke;
}

.contact .contactMe svg {
  color: #33A1FD;
  border: 2px solid #33A1FD;
  padding: 10px;
  font-size: 60px;
  border-radius: 100%;
}

@media only screen and (max-width: 450px) {
  .skillsCard {
    height: 700px;
    width: 100%;
  }
  .skillsCard #dot1 {
    left: 130px;
  }
  .skillsCard #dot2 {
    position: absolute;
    bottom: 10px;
    left: 160px;
  }
  .projects {
    width: 100%;
    height: 800px;
    margin-top: 0;
  }
  .projects .projectsBox {
    width: 100%;
  }
  .projects .projectsBox img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .projects .projectsBox .middleSection {
    height: 100%;
  }
  .projects .projectsBox .bottomSection {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contact {
    width: 100%;
  }
  .contact .contactMe {
    height: 260px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 820px) and (min-width: 500px) {
  .projectsBox {
    width: 400px;
    height: 700px;
  }
  .projectsBox .projectsBox img {
    width: 200px;
    height: 300px;
  }
  .middleSection {
    height: 500px;
  }
  .bottomSection {
    height: 145px;
  }
}
/*# sourceMappingURL=style.css.map */