.header {
    text-align: center;
    margin-top: 2cm;
    
}

section {
    padding: 60px 0;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.navbar {
    margin-left: 35cm;
    margin-top: 1.5cm;
}

.menubutton{
    color:var(--text-lighter);
    text-decoration: none;
    font-size: 18px;
}

li{
    list-style-type: none;
}



:root{
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
    
}

  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

body{
    height: 100%;
    background: linear-gradient(to right,#232526, #414345);
    color: var(--text-lighter);
}

.hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px){
    .card-grid{
grid-template-columns: repeat(2, 1fr); 
    }
}

@media(min-width: 960px){
    .card-grid{
    grid-template-columns: repeat(4, 1fr); 
    }
}

.card{
    list-style: none;
    position: relative;
}

.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.aboutmetext li{
    text-align: center;
    margin: 15px;
}

.aboutmetext{
    padding-top: 2cm;
    font-size: 15px;
}

.fa{
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
    color: whitesmoke;
    margin-left: .2cm;
    margin-top: .5cm;
    top: 10;
}

.fa:hover{
    opacity: 0.7;
}