        .contact-page {
            main {
                .theme-button {
                    width: 20%;
                    margin: 0 auto;
                    padding: 20px 10px;
                    cursor: pointer;
                    // transition: all .3s ease-in;
                    color: $black;
                    font-size: 1.6rem;
                    font-style: $font-cursive;
                    background-color: $color-lime;
                    outline-style: $color-secondary;
                    &:hover {
                        transform: translate(20px, 2px);
                    }
                    &:active {
                        background-color: $black;
                        opacity: 50%;
                        transform: translate(-2px, -2px);
                    }
                }
                height: 90vh;
                // @include respond(large) {
                //     height: 600px;
                // }
                .contact {
                    @include clearfix;
                    min-width: 280px;
                    width: 80%;
                    background-color: $black;
                    backdrop-filter: opacity(0.2);
                    mix-blend-mode: $content-mix-blend-mode;
                    height: 540px;
                    margin: auto;
                    padding: 10px;
                    box-shadow: 3px 3px 12px black;
                    div {
                        &:first-of-type {
                            width: 60%;
                            margin: 10px auto;
                            text-align: center;
                            background-color: $color-yellow;
                            h2 {
                                font-family: $font-cursive;
                                font-size: 4rem;
                                color: rgba($black, 0.6);
                            }
                        }
                    }
                    .form-group {
                        // width: 60%;
                        // width: 60%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        .contact-form {
                            min-width: 140px;
                            margin: 10px auto;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            button {
                                margin: 10px 0;
                                padding: 10px 10px;
                                width: 140px;
                            }
                            @include respond(large) {
                                width: 50%;
                            }
                        }
                    }
                }
                .input-field,
                textarea {
                    min-width: 260px;
                    margin-top: 20px;
                    color: $black;
                    padding: 10px;
                    &::placeholder {
                        font-size: 1.6rem;
                        color: gray;
                        // padding: 10px;
                    }
                    @include respond(large) {
                        width: 600px;
                        height: 3rem;
                        font-size: 1.8rem;
                        margin-left: -60px;
                        padding: 20px 10px;
                    }
                }
                .input-field {
                    height: 3rem;
                }
                .text-field {
                    height: 180px;
                    // @include respond(large) {
                    // }
                    // @include respond(medium) {
                    //     height: 180px;
                    // }
                }
            }
        }
        
        .contact * {
            border-radius: 16px;
        }
        
        .checkbox {
            background-color: $color-lightest-blue;
            width: 200px;
            height: 20px;
            font-size: 3rem;
            label {
                background-color: $color-yellow;
                font-weight: 6;
            }
        }
        
        .dark-background {
            background-color: transparent;
            background-image: none;
        }