$black: rgb(19, 18, 18);
$font-color: whitesmoke;
$color-lime: #c8ff52;
$color-yellow: #ffff00ad;
$color-red: #dd3333ec;
$color-secondary: #ff0088;
$color-lightest-blue: #bad1e0;
// $font-family: 'Trebuchet MS',
// 'Lucida Sans Unicode',
// 'Lucida Grande',
// 'Lucida Sans',
// Arial,
// sans-serif;
$font-family: 'Montserrat',
'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;
$font-family-sub: 'Source Code Pro',
monospace;
$font-cursive: 'Itim',
cursive;