* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #ffa5a5;
}

body {
  font-family: 'Inconsolata', monospace;
}

.homepage__header__header-container {
  display: flex;
}

.header-container_text-area {
  height: 100vh;
  width: 100%;
  background: #fff;
  font-size: 4rem;
  font-weight: 400;
  padding: 40vh 0px;
  line-height: 4rem;
}

.header-container_text-area p {
  margin: 20px;
}

.header-container_text-area p:nth-of-type(3) {
  color: var(--main-text-color);
  font-size: 2rem;
}


.header-container_image-area {
  height: 100vh;
  width: 100%;
  background: #333;
}





.homepage__about-me__about-me-container {
  display: flex;
}

.about-me-container__image-area {
  height: 100vh;
  width: 100%;
  /* background-color: #333; */
}

.about-me-container__text-area {
  height: 100vh;
  width: 100%;
  background: #fff;
  font-size: 3rem;
  font-weight: 200;
  padding: 20vh 0px;
  line-height: 4rem;
}
