// Desktops
$font: 8px; 

@media only screen and (min-width: 1281px) {
    .onepage__container {
        background: #fff;
        margin: 40px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(24, 1fr);
    
        .onepage__header__container {
            height: 100vh;
            grid-column: 1/-1;
            grid-row: 1/7;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
    
            .header__side-1 {
                grid-column: 1/7;
                grid-row: 1/7;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(12, 1fr);
            }
    
            div {
                grid-column: 4/10;
                grid-row: 5/8;
                letter-spacing: 3px;
    
                .side-1__name {
                    font-size: $font *6;
    
                }
    
                .side-1__programs {
                    font-size: $font *4;
                    padding-top: 40px;
                }
    
                .side-1__quote {
                    font-size: $font *3;
                    padding-top: 40px;
                    color: #188C39;
                }
    
            }
            
            .header__side-2 {
                grid-column: 7/-1;
                grid-row: 1/7;
                background-color: #ff4848;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(12, 1fr);
    
                span {
                    grid-column: 4/9;
                    grid-row: 5/-1;
                    color: #fff;
                    font-size: 300px;
                    display: flex;
                    justify-content: center;
                    line-height: 100vh;
                }
            }
        }
    
        .onepage__about-me__container {
            grid-column: 1/-1;
            grid-row: 7/13;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
    
            p {
                grid-column: 5/9;
                grid-row: 3/5;
                font-size: 2rem;
                color: brown;
                text-align: justify;
            }
            
            span {
                grid-column: 7/8;
                grid-row: 2/3;
                font-size: 120px;
                opacity: 0.1;
                color: brown;
                transform: translateX(-60px);
                padding-bottom: 60px;
            }
    
        }
    
        .onepage__projects_container {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .projects_box {
                margin-top: 300px;
                width: 20%;
                height: 600px;
                background: #fadfbb;
                border: 5px solid #188C39;
            }
    
            .project-1 {
                margin: 0;
            }
    
            p {
                font-size: 2rem;
                color: #188C39;
                text-decoration: underline;
                margin-top: 10px;
            }
        }
    
    }
  }