* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    line-height: 3rem;
    }

$font: 8px; 

body {
    background: #fff;
}
    
.onepage__container {
    margin: 40px;

    .onepage__header__container {
        height: calc(100vh - 150px);
        display: flex;
        justify-content: space-evenly;

        .header__side-1 {

        }

        div {


            .side-1__name {
                font-size: $font *5;

            }

            .side-1__programs {
                font-size: $font *4;
                padding-top: 40px;
            }

            .side-1__quote {
                font-size: $font *3;
                padding-top: 40px;
                color: #188C39;
            }

        }
        
        .header__side-2 {
            background-color: #ff4848;
            width: 200px;
            
            span {
                display: none;
            }
        }
    }

    .onepage__about-me__container {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        p {
            font-size: 1rem;
            color: brown;
            line-height: 2rem;
            width: 200px;
            display: flex;
            justify-content: center;
        }
    }

    .onepage__projects_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .projects_box {
            margin-top: 100px;
            width: 80%;
            height: 400px;
            background: #fadfbb;
            border: 5px solid #ff4848;
        }

        .project-1 {

        }

        h2 {
            font-size: 2rem;
            color: #ff4848;
            text-decoration: underline;
            margin-top: 10px;
        }

        p {
            text-align: center;
            color: brown;
        }
    }

    .onepage__contact_container {

    }

}


// Desktops
@media only screen and (min-width: 1281px) {
    body {
        background-color: blue;
    }
    .onepage__container {
        background: #fff;
        margin: 0;
    
        .onepage__header__container {
            height: 100vh;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
        
            .header__side-1 {
                grid-column: 1/7;
                grid-row: 1/7;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(12, 1fr);
            }
    
            div {
                grid-column: 4/10;
                grid-row: 5/8;
                letter-spacing: 3px;
    
                .side-1__name {
                    font-size: $font *6;
    
                }
    
                .side-1__programs {
                    font-size: $font *4;
                    padding-top: 40px;
                }
    
                .side-1__quote {
                    font-size: $font *3;
                    padding-top: 40px;
                    color: #188C39;
                }
    
            }
            
            .header__side-2 {
                width: unset;
                grid-column: 7/-1;
                grid-row: 1/7;
                background-color: #ff4848;
    
                span {
                    grid-column: 4/9;
                    grid-row: 5/-1;
                    color: #fff;
                    font-size: 300px;
                    display: flex;
                    justify-content: center;
                    line-height: 100vh;
                }
                }
            }    
    

        .onepage__about-me__container {
            // grid-column: 1/-1;
            // grid-row: 7/13;
            // display: grid;
            // grid-template-columns: repeat(12, 1fr);
            // grid-template-rows: repeat(6, 1fr);

            margin-top: 200px;
            display: flex;
            justify-content: center;
    
            p {
                font-size: 2rem;
                text-align: justify;
                width: 600px;
                line-height: 40px;
            }
    
        }
    

        .onepage__projects_container {

    
            .projects_box {
                margin-top: 300px;
                width: 20%;
                height: 600px;
            }
    
            .project-1 {

            }
    
            p {
                font-size: 2rem;
                margin-top: 10px;
                width: 50%;
            }
        }    
    }            
}

// Laptops
// @media (min-width: 1025px) and (max-width: 1280px) {

// }


// // Tablets
// @media (min-width: 768px) and (max-width: 1024px) {

// }



// // Tablets (landscape)
// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

// }



// // Mobile (Portrait)
// @media (min-width: 320px) and (max-width: 480px) {
// }

// // #188C39
// // Mobiles(Landscape)
// @media (min-width: 481px) and (max-width: 767px) {

//}