/* Reset */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Lato", sans-serif;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--light-color);
}

img {
  width: 100%;
}

/* Variables */
:root {
  --primary-color: #ffbc00;
  --secondary-color: ;
  --light-color: #ddd;
  --dark-color: #333;
}

/* Main style */
header {
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  color: var(--light-color);
}

header::before {
  content: "";
  background: url("img/pexels-photo.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  width: 120px;
  height: 120px;
  margin-left: 80px;
  padding-top: 20px;
}

.logo-about {
  width: 75px;
  height: 75px;
  margin-left: 170px;
  padding-top: 10px;
}

#navigation nav {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  align-items: center;
}

#navigation nav ul:first-child {
  display: flex;
  margin: 10px 0;
}

#navigation nav ul a,
#navigation-about nav ul a {
  list-style-type: none;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 5px 5px;
  transition: 0.3s ease-in;
}

#navigation nav ul a:hover,
#navigation-about nav ul a:hover {
  border-color: var(--light-color);
  background: var(--dark-color);
  color: var(--primary-color);
  cursor: pointer;
}

#navigation-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: url("img/pexels-photo.jpg") no-repeat 20% 40% / cover;
  height: 6rem;
  transition: 0.5s;
}

#navigation-about nav ul {
  margin: 35px 0;
}

header {
  position: relative;
}

header .header-content {
  position: absolute;
  left: 50px;
  bottom: 150px;
}

header .header-content article {
  width: 400px;
  margin-left: 100px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}

.about {
  text-align: center;
  margin-top: 180px;
  font-size: 1.5rem;
}

.about-content .about-photo {
  width: 200px;
  height: 300px;
  background: url("./img/stefan1.jpg") no-repeat center 7% / cover;
}

.about-content .about-text {
  width: 780px;
  height: 300px;
  margin-left: 30px;
  background-color: #eee;
  border-left: 2px solid var(--primary-color);
}

.about-content .flex-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.about-content .about-text h4 {
  padding: 20px 0;
}

.about-content .about-text p {
  margin: 20px;
  font-size: 1.1rem;
}

.about-content .about-text a {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-decoration: none;
  font-weight: bold;
}

.tools {
  width: 90%;
  margin: 60px 150px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2rem;
}

/* Footer */

.footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}

.footer-social {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.footer-social a span {
  color: var(--light-color);
  margin-right: 1rem;
  border: 2px var(--light-color) solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  padding: 0.5rem;
  text-align: center;
  transition: 0.5s ease;
}

.footer-social a span:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

/* Utilities */
.courgette {
  font-family: "Courgette", cursive;
}

.lead {
  font-size: 3rem;
}

.underline {
  height: 2px;
  width: 8rem;
  background-color: var(--primary-color);
  display: block;
  margin: 0 auto 3rem auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}
