$primary-font: Verdana, Geneva, sans-serif;
$secondary-font: "Homemade Apple", cursive;
$header-font: "Montserrat", sans-serif;
$light-color: #ebebeb;
$primary-color: #fcfcfc;
$secondary-color: #f8d9d6;
$tertiary-color: #797979;
$quaternary-color: #ff8584;
$dark-color: #515151;
$transition: all 0.4s ease-in-out;

//dark-colors

$primary-dark: #292c35;
$secondary-dark: #e27cb3;
$tertiary-dark: #393a59;
$quaternary-dark: #9580fc;
$vibrant-dark: #4de975;
