$primary-font: Verdana, Geneva, sans-serif;
$secondary-font: "Homemade Apple", cursive;
$header-font: "Montserrat", sans-serif;
$light-color: #ebebeb;
$primary-color: #fcfcfc;
$secondary-color: #f8d9d6;
// #b5838d
$tertiary-color: #797979;
//  #ffb4a2
$quaternary-color: #ff8584;
// #e5989b;
$dark-color: #515151;
$transition: all 0.4s ease-in-out;
