* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: #fcfcfc;
}

header {
  background-color: #797979;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  z-index: 1;
}

header h1 {
  color: #fcfcfc;
  padding: 0px 0px;
  margin: 1px 30px;
  width: 35%;
  top: -8px;
  display: inline-block;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

header nav .hamburger {
  background-color: transparent;
  border: 0;
  padding: 0 2px;
  color: #fcfcfc;
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0;
}

header nav .hamburger:focus {
  outline: none;
}

header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: wrap;
  max-width: 100%;
  margin: 5px auto;
  text-align: right;
}

header nav ul a {
  display: inline-block;
  color: #fcfcfc;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 10px;
}

header nav li {
  display: inline-block;
  font-size: 1.15rem;
  padding: 5px;
}

header nav li a {
  margin: 0 40px;
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header nav li a:hover {
  color: #797979;
  text-align: center;
  text-decoration: none;
  background-color: #f8d9d6;
}

section {
  margin-bottom: 5%;
}

div a {
  color: #ff8584;
  display: inline-block;
}

/* ABOUT SECTION */
.aboutme {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-bottom: 4px double #ff8584;
}

.aboutme h2 {
  margin: 5%;
  color: #797979;
  font-family: "Homemade Apple", cursive;
  font-size: 2.2rem;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 2px;
}

.aboutme p {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  margin-left: 20%;
}

.aboutme p a {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-family: "Homemade Apple", cursive;
  text-align: right;
}

.aboutme p a:hover {
  color: #ff8584;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}

.aboutme .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aboutme .column .left-column {
  background-color: #f8d9d6;
  color: #797979;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2em;
  height: 35vh;
}

.aboutme .column .right-column {
  background-color: #f8d9d6;
  height: 35vh;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about span {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4em;
}

.about img {
  width: 300px;
  position: relative;
  border: 5px solid #fcfcfc;
  border-radius: 50%;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  margin: 40px 40px;
}

/* MAIN SECTION */
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main h3 {
  color: #ff8584;
  font-size: 3rem;
  text-align: center;
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 5%;
}

main p {
  line-height: 2em;
  color: #4b4b4b;
}

main p::first-line {
  font-weight: 600;
  font-size: 1.2em;
}

main p::first-letter {
  font-family: "Homemade Apple", cursive;
  font-weight: 700;
  font-size: 1.6em;
}

main span {
  color: #515151;
  font-size: 0.3em;
  font-weight: lighter;
  line-height: 2em;
  display: inline-block;
  position: relative;
  text-align: center;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

.icons-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: row;
}

.icons-wrapper .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.icons-wrapper .wrapper .skills {
  font-size: 3rem;
  color: #ff8584;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0;
}

.icons-wrapper .wrapper .skill1:first-child:hover {
  color: #dd4b25;
}

.icons-wrapper .wrapper .skill2:nth-child(2):hover {
  color: #2862e9;
}

.icons-wrapper .wrapper .skill3:nth-child(3):hover {
  color: #fcdb3d;
}

.icons-wrapper .wrapper .skill4:nth-child(4):hover {
  color: #4ad5ff;
}

.icons-wrapper .wrapper .skill5:nth-child(5):hover {
  color: #563d7c;
}

.icons-wrapper .wrapper .skill6:nth-child(6):hover {
  color: #000;
}

/* My recent work */
.my-recent-work {
  width: 100%;
  height: 50%;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-recent-work .recent-work {
  display: inline-block;
  background-color: #f8d9d6;
  color: #515151;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 35px;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2em;
  margin: 20px auto;
  padding: 20px;
}

.my-recent-work .recent-work:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.my-recent-work .recent-work svg {
  font-size: 30px;
  color: #fcfcfc;
  margin: 2px 0;
}

.my-recent-work .recent-work p {
  margin: 25px 0;
  color: #515151;
}

/* CONTACT SECTION */
#contact-section {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 20px;
  color: #4b4b4b;
  margin: 0;
}

#contact-section h5 {
  line-height: 3em;
  font-size: 2.6em;
  font-family: "Homemade Apple", cursive;
}

#contact-section .contact-github {
  color: #ff8584;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  padding: 20px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact-section .contact-github:hover {
  color: #24292e;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#contact-section .contact-linkedIn {
  color: #ff8584;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  padding: 20px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact-section .contact-linkedIn:hover {
  color: #0073b1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#contact-section .contact-email {
  color: #ff8584;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  padding: 20px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact-section .contact-email:hover {
  color: #d4463a;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.girl-with-a-laptop {
  text-align: center;
  max-width: 100%;
}

.girl-with-a-laptop img {
  display: inline-block;
  list-style-type: none;
  width: 20%;
  margin: 10px 5px;
  position: relative;
  width: 300px;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #ff8584;
  color: #fcfcfc;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  header h1 {
    font-size: 40px;
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  header nav ul li a {
    padding: 0;
    font-size: 10px;
  }
  header h1 {
    font-size: 20px;
  }
  .aboutme h2 {
    padding: 5%;
  }
  .aboutme img {
    width: 240px;
  }
  .icons-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
  }
  .icons-wrapper .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .icons-wrapper .wrapper span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    padding: 10px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: small;
    text-align: justify;
    line-height: auto;
  }
  header nav ul {
    display: inline-block;
    font-size: 10px;
  }
  .myLinks {
    display: none;
  }
  .myLinks.show {
    background-color: #797979;
    opacity: 0.8;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    line-height: 10px;
  }
  #hamburger {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    margin-left: 60%;
  }
  .aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f8d9d6;
    padding: 10px;
  }
  .aboutme p {
    font-size: 0.8rem;
    margin: 1.5%;
  }
  .about img {
    width: 250px;
    border: 2px solid #fcfcfc;
    padding: 0;
  }
  .icons-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
  }
  .icons-wrapper .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .icons-wrapper .wrapper span {
    font-size: 9px;
  }
}

@media screen and (max-width: 560px) {
  header h1 {
    font-size: 20px;
  }
  nav .hamburger {
    opacity: 1;
  }
  nav li {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  main h3 {
    font-size: 30px;
    margin: 10%;
    padding: 5%;
  }
  header,
  nav {
    position: relative;
    top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */