$black: #131212;
$font-color: #f5f5f5;
$color-lime: #c8ff52;
$color-yellow: #ffff00ad;
$color-red: #dd3333ec;
$color-tertiary: #00ffaaec;
$color-secondary: #f0d910;
$color-lightest-blue: #bad1e0;
$font-family: 'Open Sans',
sans-serif;
$font-family-arial: 'Montserrat',
'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;
$font-family-sub: 'Russo One',
sans-serif;
$font-cursive: 'Itim',
cursive;
$content-mix-blend-mode: overlay;