@-webkit-keyframes title-down {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 1;
    }
}

@keyframes title-down {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 1;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /*background: linear-gradient(to top, rgba(12, 12, 12, 0.77) 75%, rgba(12, 12, 12, 0.9) 80%);
    */
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #c8ff52;
    background-image: linear-gradient(to top right, rgba(12, 12, 12, 0.57) 75%, rgba(12, 12, 112, 0.3) 80%, rgba(131, 143, 134, 0.5) 90%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.6' stroke-opacity='0.36' %3E%3Ccircle fill='%23c8ff52' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23bcf152' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23b0e352' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23a5d551' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2399c751' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%238db951' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2381ab51' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23769d51' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%236a8f51' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%235e8050' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23527250' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23476450' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233b5650' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232f4850' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23233a50' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23182c4f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230c1e4f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2300104f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

header h1 {
    color: whitesmoke;
    text-shadow: 2px 2px 6px #a6bb9a;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    padding-top: 50px;
    font-size: 36px;
    animation: title-down 1s normal;
    -webkit-animation: title-down 1s normal;
}

header nav a {
    margin: 10px 15px 10px 15px;
    background-color: rgb(43, 39, 54);
    color: rgba(255, 255, 0, 0.678);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 2px solid rgb(6, 7, 10);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 140px;
    z-index: -1;
    transition: .35s;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
}

header nav a:hover {
    border: 2px solid rgba(255, 246, 236, 0);
    /* background-color: linear-gradient(to top right, rgba(58, 42, 204, 0.714), rgba(140, 132, 212, 0.714)); */
    color: rgb(255, 246, 236);
    transform: translate(-2px, 10px);
    -webkit-transform: translate(-2px, 10px);
    -moz-transform: translate(-2px, 10px);
    -ms-transform: translate(-2px, 10px);
    -o-transform: translate(-2px, 10px);
    box-shadow: 2px -4px 8px #a6cc55ad;
}

main {
    background-color: #c8ff52;
    background-image: linear-gradient(to top right, rgba(12, 12, 12, 0.57) 75%, rgba(12, 12, 112, 0.3) 80%, rgba(131, 143, 134, 0.5) 90%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23334d4f' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='23.5' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.24'%3E%3Cg %3E%3Ccircle fill='%23334d4f' fill-opacity='0.24' r='10'/%3E%3Cg transform='rotate(-255 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-23.4 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(114.75 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(105.3 0 0)'%3E%3Cg transform=''%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform=''%3E%3Cg transform='rotate(-114.75 0 0)'%3E%3Cg transform='rotate(-140.4 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: row-reverse;
    padding: 25px;
    /* margin: 10px; */
    /* height: 525px; */
}

.left-panels {
    /* background-color: linear-gradient(to bottom right, rgba(#313626), rgba(#c8ff52)); */
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.left-panels p,
.left-panels ul {
    font-size: 18px;
    line-height: 2rem;
}

.left-panel {
    margin: 10px;
    padding: 10px;
    line-height: 2em;
    border: 2px solid #0c0b0b;
    -webkit-backdrop-filter: contrast(3) opacity(0.7);
    backdrop-filter: contrast(3) opacity(0.7);
    background-blend-mode: luminosity;
}

.left-panel ul {
    padding-left: 45px;
}

.bottom-panel {
    /* width: 15%; */
    /* height: 100%; */
    padding: 10px;
    margin: 10px;
    border: 2px solid #0c0b0b;
    -webkit-backdrop-filter: contrast(2);
    backdrop-filter: contrast(2);
}

.bottom-panel h3 {
    margin-bottom: 5px;
}

.box {
    z-index: 10;
    position: relative;
    /* margin-top: 540px; */
    /* height: 720px; */
    width: 40%;
    margin: 20px 20px;
    overflow: auto;
    color: whitesmoke;
}

.box h3 {
    color: rgb(255, 236, 236);
    text-shadow: 2px 2px 2px rgb(49, 59, 52);
    /* border: 1px solid #c8ff52; */
}

.content {
    margin: 20px 0;
    font-size: 18px;
    width: 100%;
    background-color: rgb(17, 15, 15);
    /*height: 180px;
    */
    color: rgb(255, 236, 236);
    padding: 20px;
    height: 95%;
    -webkit-backdrop-filter: opacity(0.6);
    backdrop-filter: opacity(0.6);
    mix-blend-mode: overlay;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    scroll-behavior: auto;
    scrollbar-base-color: #b6f328;
    overflow: auto;
    /* scrollbar-highlight-color: #ffffff; */
    animation: title-down 1s normal;
    -webkit-animation: title-down 1s normal;
}

.content div {
    background-color: #c1c85dd0;
    color: rgb(26, 23, 23);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    filter: opacity(0.8);
    -webkit-filter: opacity(0.8);
}

.content p {
    font-size: 16px;
    font-weight: 600;
}

hgroup button {
    width: 160px;
    padding: 10px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    outline: none;
}

hgroup button:hover {
    color: #b6f328;
    -webkit-backdrop-filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    background-color: rgb(180, 78, 78);
    transform: scaleX(1.1);
    -webkit-transform: scaleX(1.1);
    -moz-transform: scaleX(1.1);
    -ms-transform: scaleX(1.1);
    -o-transform: scaleX(1.1);
    cursor: pointer;
}

hgroup button:active {
    color: rgb(169, 171, 255);
    transform: translateX(0.98) scaleY(1.1);
    -webkit-transform: translateX(0.98) scaleY(1.1);
    -moz-transform: translateX(0.98) scaleY(1.1);
    -ms-transform: translateX(0.98) scaleY(1.1);
    -o-transform: translateX(0.98) scaleY(1.1);
}


/* 
.about-me {
    height: 400px;
} */

footer {
    position: absolute;
    color: rgb(255, 236, 236);
    background-color: rgb(17, 15, 15);
    height: 40px;
    width: 100%;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    main {
        display: inline-block;
        height: 3200px;
    }
    .left-panels {
        font-size: 16px;
        width: 600px;
    }
    .left-panel * {
        font-size: 16px;
        width: 100%;
    }
    .bottom-panel>p {
        font-size: 14px;
        width: 100%;
    }
}